// XXXX

@charset 'utf-8';

$light : (primary : #1890ff,
strong : #f7b157,
success : #32978c,
error : #d0505d,
high_light : #f15a57,
warning : #fd8732,
pure : #fff,
dark : #000,
none : transparent,
glass : rgba(255, 255, 255, 0.9),

linear_primary : linear-gradient(to right, #66a6ff 0%, #4481eb 100%),
linear_primary_2 : linear-gradient(135deg, #ac8ece, #79589f),
linear_primary_1 : linear-gradient(to right, #4481eb, #8ECDEA),
linear_grey : linear-gradient(to right, #e2ebf0 0%, #cfd9df 100%),
linear_strong : linear-gradient(to right, #f6d365 0%, #fda085 100%),
linear_success : linear-gradient(to right, #3cba92 0%, #0ba360 100%),
linear_error : linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%),
linear_highlight : linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%),
linear_warning : linear-gradient(to right, #f09819 0%, #ff5858 100%),
linear_pure : linear-gradient(to left, #fdfbfb 0%, #ebedee 100%),
linear_dark : linear-gradient(to right, #434343 0%, black 100%),

// XXant designXXXXXXXX：https://ant.design/docs/spec/colors-cn#%E8%89%B2%E6%9D%BF%E7%94%9F%E6%88%90%E5%B7%A5%E5%85%B7

primary_light_1: #40a9ff,
primary_light_2: #69c0ff, // XX hover
primary_dark_1: #096dd9, // XX click
primary_dark_2: #0050b3,

grey_1: rgba(0, 0, 0, .02), // XX table header
grey_2: #EFF3F6, // XX background
grey_3: rgba(0, 0, 0, .09), // XX dividers
grey_4: rgba(0, 0, 0, .15), // XX border
grey_5: rgba(0, 0, 0, .25), // XX disable, shadw
grey_6: rgba(0, 0, 0, .46), // XX secondary text
grey_7: rgba(0, 0, 0, .65), // XX primary text
grey_8: rgba(0, 0, 0, .85), // XX title

);

$dark : ();

$default : $light